.fixed-top-2 {
    margin-top: 56px;  
}
.top-nav {
    background: #F97300;
}

.nav-link , .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.bg-dark {
    background-color: #343a40 !important;
}
.bg-primary {
    background-color: #007bff !important;
}

.header {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding:2em;
}

.description h1 {
    color: #f97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #f97300;
    background: #f97300;
    color: #fff;
}

.second-nav-lisitem {
    text-align: center;
    background: #F97300;
    color: white;   
}

.my-card
{
    position:absolute !important;
    left:40%;
    top:-20px;
    border-radius:50% !important;
}

.small-card
{
    position:absolute !important;
    left:30%;
    top:-25px;
    border-radius:50% !important;
    margin-top: 5px;
}

.small-card-1
{
    position:absolute !important;
    left:35%;
    top:-20px;
    border-radius:50% !important;
}

.cards-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.section-title h5 {
    display: inline-block;
}

.cycle-icon {
    font-size: 2.5rem !important;
}

.ellipsis {
    white-space: nowrap; 
    width: 80px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}

.card-bg {
    background-color: #a0db8e !important;
}



